/* global edits/resets */





/* Jumbotron Styles */






/* Main area */




/* Video player */




/* History Buttons */



/* Lyrics Display */
.song-lyrics{
    
    background-color:rgb(195, 190, 199);
    border:medium solid black;
    
    
}
.song-lyrics p{
    font-size: larger;
    font-weight: bold;
}

.song-lyrics p:nth-child(2){
    font-weight: normal;
    color: #186ceb;
}


/* Media query's */