/* global edits/resets */
body {
  background-color: #1a1616;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
  color: #c9c9ff;
}

/* Custom styles */

/* Heading Styles */
.h1-letter {
  color: rgb(153, 218, 49);
}

.hide {
  display: none;
}

/* Jumbotron Styles */

.jumbotron h1 {
  font-weight: 500;
}

.search-icon {
  position: relative;
  font-size: 1.3rem;
  z-index: 1;
  right: -17px;
  top: 0px;
  color: var(--white);
  cursor: pointer;
  width: 0;
}

.search-input {
  padding-left: 50px;
  width: 15em;
  border-radius: 5px;
  background-color: transparent;
  color: white !important;
  border: 2px solid #fff;
  height: 40px;
  font-size: 1em;
}

.search-input:focus {
  background-color: transparent;
  border-color: #28a745;
}

input::placeholder {
  color: #ffffff !important;
}

.search-btn {
  height: 40px;
  border: 2px solid #28a745;
}

/* Main area */

/* YouTube button */
.song-card {
  background-color: #1a1616 !important;
  border: none;
  width: 100% !important;
}

.yt-btn {
  width: 300px;
  background-color: #28a745;
  border: none;
}

.yt-btn:hover {
  background-color: #2cb74c;
}

.yt-btn:active,
.yt-btn:focus {
  background-color: #28a745 !important;
  box-shadow: none !important;
}

.fa-youtube {
  padding-right: 10px;
}

/* History Section */
.search-history {
  background-color: rgba(127, 204, 157, 0.093);
  border: 1px solid #6cc39e;
  border-radius: 7px;
}
h4 {
  color: #e5e5e5;
}

.history-btn,
.history-btn-two {
  margin-top: 9px;
  background-color: #3faf30;
  padding: 2px;
  color: white;
  border: 0.7px solid rgb(38, 74, 55);
  border-radius: 3px;
  width: 7rem;
}

.history-btn:hover {
  background-color: #238761f7;
}

.delete-btn {
  padding: 2px;
  background-color: transparent;
  border: none;
}

.fa-trash-alt:hover {
  background: #dc3546d6;
  border-radius: 10px;
  padding: 10px;
  color: #e5e5e5;
}

.fa-trash-alt {
  font-size: 1.4rem;
  padding: 10px;
  color: #dc3545;
}

/* Lyrics Display */
.song-lyrics {
  background-color: rgba(119, 92, 133, 0.118);
  border: 2px solid rgb(151, 139, 154);
  border-radius: 7px;
}
.song-lyrics p {
  font-size: larger;
  font-weight: bold;
}

.song-lyrics p:nth-child(2) {
  font-weight: normal;
  color: #c9c9ff;
}

/* Media query's */
@media screen and (max-width: 991px) {
  .search-hist {
    flex-direction: row !important;
  }

  .history-btn,
  .history-btn-two {
    margin: 5px;
  }
}

@media screen and (max-width: 758px) {
  .search-hist {
    flex-wrap: wrap;
    justify-content: center !important;
  }
}

@media screen and (max-width: 580px) {
  .search-input {
    margin-right: 10px;
  }
}
